input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

nav{
  background-color: #212121;
  color: aliceblue;
  padding: 2rem;
  font-size: 3rem;
 
}
nav div {
  text-align: center;
}
