input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

nav{
  background-color: #212121;
  color: aliceblue;
  padding: 2rem;
  font-size: 3rem;
 
}
nav div {
  text-align: center;
}




/* Footer */

footer {

  position: fixed;
  /* position: sticky; */
  padding: 3rem 2rem;
  text-align: center;
  bottom: 0;
  background-color: #101010;
  color: #9d9d9d;
  width: 100%;
}