input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

nav{
  background-color: #212121;
  color: aliceblue;
  padding: 2rem;
  font-size: 3rem;
 
}
nav div {
  text-align: center;
}



.login-box{
  background-color: #212121;
  color: aliceblue;
  
}
.btn:hover{
  background-color: #414141;
  border: 1px solid #dfdfdf;
}
.login-box-outline{
  border: 1px solid black;
  border-radius: 8px;
}
.login-box-outline-light{
  border: 1px solid #dfdfdf;
  border-radius: 8px;
}

/* Footer */

#index-footer {

  position: fixed;
  /* position: sticky; */
  padding: 3rem 2rem;
  text-align: center;
  bottom: 0;
  background-color: #101010;
  color: #9d9d9d;
  width: 100%;
}

footer{
  /* position: fixed; */
  /* position: sticky; */
  padding: 3rem 2rem;
  text-align: center;
  bottom: 0;
  background-color: #101010;
  color: #9d9d9d;
  width: 100%;
}
